<div>
  <h1>Productos en tiempo real</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>CODE</th>
        <th>PRICE</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.code}}</td>
          <td>{{this.price}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <form id="addProductForm">
    <input type="text" id="codeInput" placeholder="Código" />
    <input type="text" id="titleInput" placeholder="Título" />
    <input type="text" id="descriptionInput" placeholder="Descripción" />
    <input type="text" id="thumbnailInput" placeholder="URL Miniatura" />
    <input type="text" id="stockInput" placeholder="Stock" />
    <input type="text" id="priceInput" placeholder="Precio" />
    <button type="submit">Agregar producto</button>
  </form>
  <form id="deleteProductForm">
    <input type="text" id="idInput" placeholder="ID" />
    <button id="deleteProductBtn" type="submit">Eliminar producto</button>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>